.pay-button {
    text-align: center;
}

mat-card {
    &-header {
        margin-right: 50%;
        margin-left: 30%;
    }
    &-actions {
        & div {
            padding-top: 10px;
            font-size: smaller;
        }
    }
}
.example-margin {
    margin-left: 5%;
    margin-right: 5%;
}
table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}
mat-expansion-panel {
    &mat-panel-title {
        position: relative;;
    }
    &mat-panel-description {
        align-content: center;
    }
}

/* .mat-form-field + .mat-form-field {
    margin-left: 5px;
  } */
.card-number {
    width: 100%
}
.card-details {
    width: 50%;
} 