mat-card {
    &-header {
        margin-right: 10%;
        margin-left: 10%;
    }
    &-actions {
        & div {
            padding-top: 10px;
            font-size: smaller;
        }
    }
}

.buttons {
    margin: 0 30% 0 30%;
}

table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}